.img1 ion-img{
    max-height: 40vh;
    display: block;
    margin-left: auto;
    margin-right:auto;
  }
  
  .content{
    color: black;
  }
  
  .WineName{
    font-size: medium;
    font-weight: bold;
    color: black;
    text-decoration: underline;
  }